@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Syne:wght@600&display=swap');
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.container{
    margin-top: 0;
}
/* header start */
.header{
    display: flex;
    justify-content: space-around;
    background-color: #f0f3f7;
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
    height:80px;
}
.logo{
    display: flex;
    margin-top: 20px;
}
#logo{
    height: 50px;

}
.logoname{
    color: #5fa23e;
    font-family: 'Gloock', serif;
    font-size: 40px;
    margin: 0;
}
#location{
    height: 30px;
}
/* .header div ul{
    margin: 0;
} */
#avatar{
    height: 35px;
}
#starter{
    color: #0f1111;
    padding: 10px;
}

.signup ul {
    display: flex;
    padding-top: 10px;
    justify-content:space-between;
    padding-left: 0;
}
.signup ul li{
    list-style-type: none;

}
.signup ul li a{
    text-decoration: none;
    color: blue;
}
/* header end */
/* landing start */
.landing{
    background-image:url('../images/download.jpg');
    background-size:contain;
    height: 400px;
    margin: 0px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 10px;
    z-index: -1;
}
.landing h1{
    color: white;
    align-self: center;
    font-size: 60px;
    font-family: 'Syne', sans-serif;
}
.landingItems{
    align-items: center;
}
.landing .inputbar{
    width: 70%;
    height: 40px;
    border: 1px solid maroon;
    border-radius: 20px;
}
/* input form inside landing */
#logIn{
    width: 250px;
    padding: 10px;      
    font-family: 'Syne', sans-serif;
    font-weight: lighter;
}
#logIn ::placeholder{
    color: #0f1111;
}
#logIn input{
    margin: 10px;
    height: 30px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid grey;
}
#logIn button{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid grey;
}
#logIn #close{
    float: right;
    margin-right: -25px;
    cursor: pointer;
}
.logIn {
    border-radius: 10px;
    border: 1px solid;
    width: 300px;
    height: 200px;
    background-color: #fff;
    visibility:hidden;
    position: absolute;
    right:30px;
    top: 60px;
}
::placeholder {
    color:#5fa23e;
    margin-left: 10px;
    opacity: 1;
  }

/* landing stop */
/* =============================================================================== */
/* section start */
.section{
    display: flex;
    padding-top: 10px;
    background-color: #fff;
}
.icons{
height: 30px;
margin-right: 10px;
}
.menupanel{
    position: sticky;
    top: 60px;
    max-height: 600px;
    flex: 1;
    margin-left: 40px;
}
.menupanel ul li{
    list-style-type: none;
}
.menupanel ul{
    padding-left: 0;
}
.mainitems{
    flex: 7;
    display: flex;
}
.listItem{
    margin: 5px;
    padding: 5px;
    width: 100%;
    
}
.listItem:hover{
    border-radius: 5px;
    margin: 1px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* main section */
/* ======================================================================================== */
#cardsdiv{
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px; */
    justify-content: space-around;
}
#btn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
  float: right;
}

#btn:hover {
  background-color: #f7fafa;
}

#btn:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
.cardorder{
    flex: 3;
    justify-content:center;
    height: 600px;
    position: sticky;
    /* background-color: #5fa23e; */
    border-radius: 20px;
    top: 50px;
    max-height: 600px;
    overflow-x: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card,.newCard{
    height: 270px;
    width: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: 1px solid; */
}
.card p,h4{
margin: 0;
}
.newCard p,h4{
    margin: 0;
    }
#h4{
margin-top: 20px;
margin-left: 20px;
}
#yourOder li{
    list-style-type:circle;

}

#img{
    height: 180px;
    width: 200px;
    border-radius: 30px;
}
/* footer begins */
.footer{
    display: flex;
    color: white;
    justify-content: space-around;
    background-color:black;
    background-image: url("./images/1.jpg");
}
.footer ul li{
    list-style-type: none;
}